@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald&display=swap');

html,
body {
	margin: 0;
	background-image: url(man-running2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	font-family: 'Anton', sans-serif;
}

#main {

	color: white;
	background-color: black;

}



header {
	color: white;
	text-align: center;
	padding: 25px;
}

h1 {
	animation-name: slidein;
	animation-duration: 3s;
}

.centreDiv {
	text-align: center;

}

footer {
	text-align: center;
	color: white;
	margin-top: 15%;
	background-color: black;
}


.initial {
	visibility: hidden;
}


.hide {
	visibility: hidden;

}

#exercise {
	font-size: 2em;

}

.visible {
	visibility: hidden;
	animation-name: slideright;
	animation-duration: 3s;

}

.fa,
.footer-tag {
	padding: 2%;
	color: white;
	font-size: 20px;

}

.countdownDiv {
	animation-name: slideup;
	animation-duration: 3s;
	color: white;
	background-color: black;
}

@keyframes slidein {
	from {
		transform: translateX(-25%);
	}

	to {
		transform: translateX(0%);
	}

}

@keyframes slideright {
	from {
		transform: translateX(25%);
	}

	to {
		transform: translateX(0%);
	}

}


@keyframes slideup {

	from {
		transform: translateY(75%);
	}

	to {
		transform: translateY(0%);
	}


}