

html, body {
	margin:0;
	background-color: #c0fefc;
	
}

#main{
	font-family: 'Press Start 2P', cursive;
	background-color: #c0fefc;
}



header{
	text-align: center;
	padding: 25px;
}

h1{
	animation-name: slidein;
	animation-duration: 3s;
}

.centreDiv{
	text-align: center;
}

footer{
	text-align: center;
	color: black;
	margin-top: 15%;
	background-color: #c0fefc;
}


.initial {
	visibility: hidden;
}


.hide {
	visibility: hidden;

}

#exercise {
	font-size: 2em;
	background-color: #c0fefc;
}

.visible {
	visibility: hidden;
	animation-name: slideright;
	animation-duration: 3s;
	background-color: #c0fefc;
}

.fa, .footer-tag{
	padding: 2%;
	color: black;
	font-size: 20px;
	background-color: #c0fefc;
}

.countdownDiv{
	animation-name: slideup;
	animation-duration: 3s;
	background-color: #c0fefc;
}

@keyframes slidein {
  from {
    transform: translateX(-25%);
  }

  to {
    transform: translateX(0%);
  }

}

@keyframes slideright {
  from {
    transform: translateX(25%);
  }

  to {
    transform: translateX(0%);
  }

}


@keyframes slideup {

from {
	transform: translateY(75%);
} 

to {
	transform: translateY(0%);
}


}